In [ ]:
Q-1. Write an SQL query to print the FIRST_NAME from Worker table after removing white spaces from the right side.
Ans: 
SELECT TRIM(first_name) 
    FROM employees;

Q-2. Write an SQL query that fetches the unique values of DEPARTMENT from Worker table and prints its length.
Ans: 

 select  distinct length(department) from worker;

Q-3. Write an SQL query to fetch nth max salaries from a table.
Ans: 
select * from(
select ename, sal, dense_rank() 
over(order by sal desc)r from Employee) 
where r=&n;