In [ ]:
Q-1. Write an SQL query to print the first three characters of  FIRST_NAME from Worker table.
Ans: 

SELECT SUBSTRING(first_name,1,3) 
FROM employees;

 Q-2. Write an SQL query to find the position of the alphabet (‘a’) in the first name column ‘Amitabh’ from Worker table.
 ans Select CHARINDEX('a', 'Amitabh') as Position;
Q-3. Write an SQL query to print the name of employees having the highest salary in each department.
 ans : 
SELECT t.DEPARTMENT,t.FIRST_NAME,t.Salary from(SELECT max(Salary) as TotalSalary,

              DEPARTMENT from WORKERS group by DEPARTMENT) as TempNew

Inner Join WORKERS t on TempNew.DEPARTMENT=t.DEPARTMENT

 and TempNew.TotalSalary=t.Salary;